@font-face {
  font-display: swap;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: normal;
  font-weight: 400;
  src: url("/assets/fonts/Neue Haas Grotesk Display Pro 45 Light.woff2");
}
@font-face {
  font-display: swap;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: normal;
  font-weight: 450;
  src: url("/assets/fonts/Neue Haas Grotesk Display Pro 55 Roman.woff2");
}
@font-face {
  font-display: swap;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: normal;
  font-weight: 500;
  src: url("/assets/fonts/Neue Haas Grotesk Display Pro 75 Bold.woff2");
}
