@use "mixins.scss" as *;
.header-blur_box {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  @include tablet {
    height: 60px;
  }
}

header {
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  @include progressive-width;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  mix-blend-mode: difference;
  // margin: 0 min(1.5%, 10px);

  h1 {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fafafa;
    color: #000000;
    position: relative;
    z-index: 1;
    margin-left: 2%;
  }

  span {
    -webkit-text-stroke-width: 1px;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.9px;
  }

  .header-buttons_holder {
    display: flex;
    gap: 10px;
    padding-right: 2%;
  }

  .header_button {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
  }

  .svg_wrapper {
    height: 40px;
    width: 40px;
    padding: 1px;
    svg {
      padding: 7px;
      height: 100%;
      width: 100%;
    }
  }

  .home_svg {
    position: absolute;
    inset: 0;
    svg {
      padding: 7px;
      fill: #fafafa;
    }
  }
  .dark_mode_svg svg {
    stroke: #fafafa;
    line,
    circle {
      stroke: #fafafa;
    }
  }

  .svg-inner_div {
    position: absolute;
    inset: 0;
    
    &.light {
      transform: translateY(0px) translateZ(0);
    }
    &.dark {
      transform: translateY(-40px) translateZ(0);
    }
  }

  @include tablet {
    padding-top: 10px;
    font-size: 16px;
    .svg-inner_div {
      height: 40px;
      width: 40px;
    }
  }
}
