.img-main {
  width: 100%;
  height: auto;
  position: relative;
  transform: translateZ(0);
  display: inline-block;

  img {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    color: transparent;
  }
}

.placeholder {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  transition: opacity 1600ms var(--ease-out-cubic);
  transition-delay: 200ms;
  opacity: 1;
  will-change: opacity;
}

/*
On load we need to swap positions.
Without an image (and its position as relative) the 
placeholder will not flow correctly as it's absolutely 
positioned over the image.
*/
.img-main.visible {
  img {
    position: relative;
    color:saddlebrown;
  }
  .placeholder {
    position: absolute;
  }
}


