@use "./mixins.scss" as *;

.project-info_textbox {
  font-size: 16px;
  color: var(--text-color);
  line-height: 140%;
  letter-spacing: 0.32px;
  h4 {
    font-weight: 500;
  }
  p {
    font-weight: 300;
  }
  ul {
    margin: 5px 0 0;
    li {
      padding: 0;
      font-size: 16px;
      font-weight: 300;
      color: var(--challenge-list-item);
    }
  }
  ol {
    margin: 5px 0 0;
    li {
      padding: 0;
      font-size: 16px;
      font-weight: 300;
      color: var(--text-color);
      margin: 10px 0;
    }
  }
  @include desktop {
    h4,
    p,
    ul li,
    ol li {
      line-height: 145%;
      font-size: 18px;
      // letter-spacing: 0.5px;
    }
  }
}
