@use "image-loading.scss" as *;
@use "header.scss" as *;
@use "landing.scss" as *;
@use "landing-project" as *;
@use "section-divider.scss" as *;
@use "footer.scss" as *;
@use "mixins.scss" as *;

html {
  box-sizing: border-box;
  font-size: 100%;
  background-color: var(--background-color);
  transition: background-color 200ms linear;
  will-change: background-color;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Rubik", serif;

  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.main_wrapper {
  @include progressive-width;
  opacity: 0;
  transition: 1400ms opacity var(--ease-out-cubic);
  &.is-interactive {
    opacity: 1;
  }
}
