$tablet: 767px;
$desktop: 1024px;
$desktop-lg: 1350px;

@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-lg {
  @media screen and (min-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin progressive-width {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: clamp(0px, calc(10px + (240 * ((100vw - 768px) / (1200 - 320)))), 250px);
  padding-right: clamp(0px, calc(10px + (240 * ((100vw - 768px) / (1200 - 320)))), 250px);
}

@mixin progressive-width-non-image {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: clamp(10px, calc(10px + (240 * ((100vw - 768px) / (1200 - 320)))), 250px);
  padding-right: clamp(10px, calc(10px + (240 * ((100vw - 768px) / (1200 - 320)))), 250px);
}

/* A-la carte styling */
.box-shadow {
  box-shadow:
    2px 1px 4px 0px rgba(0, 0, 0, 0.5),
    8px 8px 9px 0px rgba(0, 0, 0, 0.2);
}

.filter-shadow {
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.5)) drop-shadow(11px 18px 15px rgba(0, 0, 0, 0.33));
}

.init-margin {
  margin: 0 2%;
}

// Mixin for BDO Grotesk Black
@mixin font-bdo-grotesk-black {
  font-family: "BDO Grotesk Black";
  font-weight: 900;
  font-display: swap;
}

// Mixin for BDO Grotesk Extra Bold
@mixin font-bdo-grotesk-extra-bold {
  font-family: "BDO Grotesk Extra Bold";
  font-weight: 800;
  font-display: swap;
}

// Mixin for BDO Grotesk Bold
@mixin font-bdo-grotesk-bold {
  font-family: "BDO Grotesk Bold";
  font-weight: 700;
  font-display: swap;
}

// Mixin for BDO Grotesk Demi Bold
@mixin font-bdo-grotesk-demi-bold {
  font-family: "BDO Grotesk Demi Bold";
  font-weight: 500;
  font-display: swap;
}

// Mixin for BDO Grotesk Medium
@mixin font-bdo-grotesk-medium {
  font-family: "BDO Grotesk Medium";
  font-weight: 500;
  font-display: swap;
}

// Mixin for BDO Grotesk Regular
@mixin font-bdo-grotesk-regular {
  font-family: "BDO Grotesk Regular";
  font-weight: 400;
  font-display: swap;
}

// Mixin for BDO Grotesk Light
@mixin font-bdo-grotesk-light {
  font-family: "BDO Grotesk Light";
  font-weight: 300;
  font-display: swap;
}
