@use "./mixins.scss" as *;

.project-headline-wrapper {
  margin: 100px 2% 0;

  h1 {
    font-weight: 400;
    color: var(--text-color);
    font-size: 30px;
  }

  h2 {
    font-weight: 300;
    font-size: 30px;
  }
  @include tablet {
    margin: 150px 2% 0;
    h1,
    h2 {
      font-size: 46px;
    }
  }
  @include desktop {
    margin: 175px 2% 0;
    h1,
    h2 {
      font-size: 55px;
    }
  }
}

.project_page-image-wrapper {
  margin: 50px 2% 25px;
  @include tablet {
    margin: 25px 2% 30px;
  }
}
