@use "./mixins.scss" as *;

.project-headline-wrapper {
  margin: 0 2%;
  padding-top: 100px;
  font-variant-ligatures: common-ligatures;

  h1 {
    @include font-bdo-grotesk-demi-bold;
    color: var(--text-color);
    font-size: 1.875rem;
    letter-spacing: 0.0125em;
  }
  
  h2 {
    @include font-bdo-grotesk-demi-bold;
    font-size: 1.875rem;
    letter-spacing: 0.0125em;
    line-height: 130%;
  }
  @include tablet {
    margin: 0 2%;
    padding-top: 150px;
    h1,
    h2 {
      font-size: 46px;
    }
  }
  @include desktop {
    margin: 0 2%;
    padding-top: 175px;
    h1,
    h2 {
      font-size: 3.5rem;
      line-height: 120%;
    }
  }
}

.project_page-image-wrapper {
  margin: 50px 2% 25px;
  @include tablet {
    margin: 4rem 2% 2rem;
  }
}

div.page_the-times-pilot--image {
  margin: 50px 2% 25px;
  @include tablet {
    margin: 25px 2% 30px;
  }
}

.times_pilot-layout-boxes {
  fill: var(--times-pilot-layout-boxes);
}
