@use "mixins.scss" as *;

.section_divider {
  width: 100%;
  height: fit-content;
  border-bottom: 0.75px solid var(--text-color);
  h2 {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    color: var(--text-color);
    letter-spacing: 1px;
    @include tablet {
      font-size: 30px;
    }
  }
  
}
